@use '@growi/core-styles/scss/bootstrap/init' as bs;
@use '@growi/core-styles/scss/variables/growi-official-colors';
@use '@growi/ui/scss/atoms/btn-muted';

.grw-ai-assistant-sidebar :global {
  z-index: bs.$zindex-fixed + 2;
  width: 100%;

  @include bs.media-breakpoint-up(sm) {
    width: 500px;
  }

  .textarea-ask {
    max-height: 30vh;
  }

  .btn-submit {
    font-size: 1.1em;
  }

  .thread-title-sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0.5rem 0;
    background-color: rgba(var(--bs-body-bg-rgb), 0.75);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

// == Colors
.grw-ai-assistant-sidebar :global {
  .growi-ai-chat-icon {
    color: growi-official-colors.$growi-ai-purple;
  }

  .btn-submit {
    @include btn-muted.colorize(bs.$purple, bs.$purple);
  }
}
