@use './tree-item-variables' as vars;

.create-input-wrapper {
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: vars.$indent-size;

  .create-input {
    width: 100%;

    input {
      height: vars.$tree-item-height;
      font-size: 14px;
    }
  }
}
